h1{ 
     color: rgb(250, 248, 248);
    text-align: center;
    font-size: 40px;
    font-family:  sans-serif;
    background-color: black;
    line-height: 100px;
    text-shadow: 0 0 8px rgb(239, 10, 10);
   
}

h1:hover{
    background-color: aqua;
    color: black;
}

p{
    font-weight: bold;
    font-style: italic;

}

img{

    width: 320px;
    height: 200px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius:10px ;

}

img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}






