form{

    background-color: rgb(49, 151, 223);
    width: 50%;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    color: white;

}

legend{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 4px black;
    margin-bottom: 10px;
}

input[type="text"],input[type="email"],input[type="password"],
input[type="tel"],input[type="number"],input[type="date"],
input[type="datetime-local"],select{

    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    box-shadow: 0 0 10px gray;
    margin-top: 10px;

}

textarea{
    border-radius: 10px;
}

button{
    background-color: #01060b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

