h1{

    text-align: center;
    font-size: 40px;
    text-decoration: underline;

}



#shipping{
    color: rgb(67, 165, 42);
}

#paragraph{
    font-weight: bold;
}


.new{
    font-style: italic;

}

#vip{
    background-color: rgb(11, 142, 236);
    margin: 80px;
    padding: 30px;
    border-radius: 20px;
    color: azure;
}

#vip h3{
    text-align: center;
    font-size: 30px;

}

#vip:hover{
    background-color: rgb(165, 42, 153);
   
}


#surprises{
    display: flex;
    gap: 20px;
    margin: 40px;
}


#delivery{
    display: flex;
}


#courses{
    display: flex;
}
